:root {
    --page-width: 1240px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0.5ch 2ch;
    cursor: pointer;
}
input[type="text"], input[type="password"] {
    padding: 0.5ch 1ch;
}
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}




